*
{
padding: 0;
margin: 0;
}
body
{
background-image: url(background.png);
background-size: cover;
background-position: top;
box-sizing: border-box;
font-family: sans-serif;
font-size:20px;
}
.menu-bar
{
background: rgba(252, 144, 3);
opacity: 90%;
text-align: center;
}
.menu-bar ul
{
display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu-bar ul li
{
width: :120px;
margin:5px;
padding:15px;

}
.menu-bar ul li a
{
text-decoration: none;
color: #fff;
}
.active, .menu-bar ul li:hover
{
background: rgba(252, 165, 3);
border-radius: 20px;
}
.menu-bar .fa
{
margin-right: 8px;
}
.sub-menu-1
{
display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
display: block;
  position: absolute;
  background : transparent;
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
display: block;
margin : 1px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
width:50px;
padding:10px;
border-bottom: 1px dotted #fff;
background: transparent;
border-radius:0;
text-align: left;
}
.blue
{
	background : rgba(0,0,100);
	width:20px;
	height: 35px;
	padding-left: 28px;
	padding-right: 28px;
	margin-left: -13px;
	font-size: 35px;
}
.red
{
	background : rgba(235, 70, 52);
	width:20px;
	height: 35px;
	padding-left: 28px;
	padding-right: 28px;
	margin-left: -13px;
	font-size: 35px;
}
.twit
{
	background : rgba(52, 219, 235);
	width:20px;
	height: 35px;
	padding-left: 28px;
	padding-right: 28px;
	margin-left: -13px;
	font-size: 35px;
}